* {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

body {
    font-family: Helvetica, serif;
    -webkit-font-smoothing: antialiased;

}

h3 {
    margin-left: 10vw;
}

header {
    display: flex;
    justify-content: space-between;
    margin-left: 10vw;
    margin-right:10vw;
}


.table-wrapper {
    margin: 10px 70px 70px;
    box-shadow: 0 35px 50px rgba(0, 0, 0, 0.2);
}

.fl-table {
    border-radius: 5px;
    font-size: 12px;
    font-weight: normal;
    border: none;
    border-collapse: collapse;
    width: 100%;
    max-width: 100%;
    white-space: nowrap;
    background-color: white;
}

th {
    border:1px solid black;
}
.fl-table td, .fl-table th {
    text-align: center;
    padding: 8px;
}

.fl-table td {
    border: 1px solid black;
    font-size: 12px;
}

.fl-table thead th {
    color: #ffffff;
    background: #727b8a;
}


.fl-table thead th:nth-child(odd) {
    color: #ffffff;
    background: #727b8a;
}

.fl-table tr:nth-child(even) {
    background: #727b8a;
    color:#ffffff;
    font-weight:600;
}

